body{
    background-color:rgba(0, 0, 20, 0.904);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button{
    /* display: inline-block; */
    cursor: pointer;
    /* display: inline; */
    height: 55px;
    width: 165px;
    border: 2px whitesmoke solid;
    background-color: whitesmoke;
    color: rebeccapurple;
    border-radius: 2px;
    /* font-weight: lighter; */
    transition: all 0.25s;
    font-size: large;
    font-weight: 200px;
}

button:hover{
    box-shadow: 0px 0.5em 0.5em -0.4em purple;
    border: 2px purple solid;
    color: white;
    background-color: rgb(7, 1, 20);
    transform: translate(0px, -2px);
    border-radius: 2px;
}